body {
    font-family: Calibri, sans-serif;
    margin: -22px 30px;
}

.header {
    height:fit-content;
    padding-bottom: 3px;
    border-bottom: 3px solid black;
}

.headSpace {
    width: 60px;
    height: 39px;
    padding-bottom: 23px;
    padding-top:20px;
    margin-right: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: lightgray;
    float: left;
}

.header h1 {
    display: inline block;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top:20px;
}


nav {
    display:inline;
    margin:0;
    padding:0;
}

nav a {
    padding: 3px 10px;
    margin:0px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-decoration: none;
    color: blue;
    font-weight: 800;
}

nav a:hover {
    background-color: darkgray;
    color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;;
}

nav a:last-child {
    border-right: none;
}

nav a:last-child:hover {
    border-right: 2px solid black;
}

nav a:first-child {
    background-color: lightgray;
    border-left: 2px solid black;
}

table {
    margin: 20px 0px 25px;
    border-spacing: 0;
}

table td {
    min-width: fit-content;
    max-width: 400px;
    height: fit-content;
    border: none;
    padding: 4px 8px;
    text-align: center;
}

table th {
    padding: 2px 5px;
    border-bottom: 1px solid black;
}

table tr.inactive:nth-child(even) td {
    background-color: #f1f1f1;
}

table tr:nth-last-child(3) td {
    border-bottom: 1px solid black;
}

table tr:last-child td {
    background-color: white;
    margin-top:20px;
    border: none;
    padding: 0;
}

table tr.active td:first-child, table tr.inactive td:first-child {
    border-right: 1px solid black;
}

table tr.active td:nth-last-child(3), table tr.inactive td:nth-last-child(3) {
    border-left: 1px solid black;
}

table tr.inactive td:last-child, table tr.active td:last-child {
    border: none;
    background-color: white;
}

table tr td:last-child span {
    cursor: pointer;
}

table input {
    min-width: 25px;
    width: calc(100% - 5px);
    padding: 0px;
    margin: 2px;
    box-sizing: border-box;
}

table textarea {
    min-width: calc(100% - 5px);
    box-sizing: border-box;
}

table select {
    min-width: calc(100% - 5px);
    position: relative;
    top: -1px;
}

#formAddNew {
    background-color: white;
    border: none;
    padding-top:15px;
    padding-left:25px;
    font-weight: 900;
    text-align: left;
}

#formEdit {
    background-color: white;
    border: none;
    padding-top:15px;
    padding-left:25px;
    font-weight: 900;
}

#formCancel {
    cursor: pointer;
    padding-left: 15px;
}

.rowEdit {
    cursor: pointer;
}

.rowDelete {
    cursor: pointer;
}

svg {
    position: relative;
    display: block;
    vertical-align: center;
}

tr.active {
    background-color: lightblue;
}