body {
    font-family: Calibri, sans-serif;
    margin: 20px 30px;
}

nav {
    display:inline;
    margin:0;
    padding:0;
}

nav a {
    padding: 3px 10px;
    margin:0px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-decoration: none;
    color: blue;
    font-weight: 800;
}

nav a:hover {
    background-color: darkgray;
    color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;;
}

nav a:last-child {
    border-right: none;
}

nav a:last-child:hover {
    border-right: 2px solid black;
}

nav a:first-child {
    background-color: lightgray;
    border-left: 2px solid black;
}

table {
    margin: 20px 0px 25px;
}

table td {
    min-width: fit-content;
    max-width: 400px;
    height: fit-content;
    border: 1px solid black;
    padding: 2px 5px;
}

table th {
    padding: 2px 5px;
}

table tr:last-child td {
    border: none;
    padding: 0;
}

table input {
    min-width: 50px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

table textarea {
    min-width: 100%;
    box-sizing: border-box;
}

table select {
    min-width: 100%;
}